[user]
  name = Shogo Iwano
  email = shiwano@gmail.com
[github]
  user = shiwano
  token = !security 2>&1 >/dev/null find-generic-password -gs \"GitHub API Token\" | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[core]
  editor = vim
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  ui = auto
[alias]
  co = checkout
  ci = commit
  st = status
  up = pull --rebase
  di = diff --color
  dc = diff --cached --color
  topic = checkout origin/master -b 
  current-branch = describe --all --contains HEAD
  push-for-review = "!sh -c 'git push origin HEAD:refs/for/master/`git current-branch`'"
  fetch-for-review = "!sh -c 'git fetch origin $0 && git checkout FETCH_HEAD'"  st = status
  log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  config-for-aiming = "!sh -c 'git config user.email siwano@aiming-inc.com'"
[merge]
  tool = vimdiff
[mergetool]
  keepBackup = false
